.theme-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#theme-preview-box {
  display: flex;
  gap: 8px;
}

.color-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color-dot:nth-child(1) {
  background-color: var(--bg-primary);
}

.color-dot:nth-child(2) {
  background-color: var(--bg-secondary);
}

.color-dot:nth-child(3) {
  background-color: var(--text-primary);
}

.color-dot:nth-child(4) {
  background-color: var(--accent-color);
}

.color-dot:nth-child(5) {
  background-color: var(--user-bg);
}
